@import url('bootstrap.css');

*{
    margin: 0;
}

.welcome{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}
.logo{
    padding: 30%;
}
