@import url('bootstrap.css');

*{
    margin: 0;
    padding: 0;
}

.welcome{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    overflow: hidden;
}
.logo{
    padding-top: 10%;
    padding-left: 45%;
    padding-right: 50%;
    padding-bottom: 80%; 
}
.title{
    color: white;
    text-align: center;
    
}
