/********************************************** GENERAL **********************************************/
/*******************************************************************************************************/
*{
    margin: 0;
}
/********************************************** WELCOME SECTION ******************************************/
/*******************************************************************************************************/

.bg{
    background-image: url("../images/backgrounds/h_img.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;    
    overflow: hidden;
    color: white;    
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}
.title1{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.title2{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.title3{
    display: flex;
    justify-content: center;
}
.mouse{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

/********************************************** ABOUT US SECTION ******************************************/
/*******************************************************************************************************/
.about{
    text-align: center; 
    padding-left: 10%;
    padding-bottom: 3%;

}
.title4{
    padding-top: 5%;
    padding-bottom: 2%;
   
}

/********************************************** SERVICES SECTION ******************************************/
/*******************************************************************************************************/
.service{
    background-image: url("../images/backgrounds/s_image.jpg");
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%        
}





/********************************************** WHAT WE DO SECTION ******************************************/
/*******************************************************************************************************/




/********************************************** PORTFOLIO SECTION ******************************************/
/*******************************************************************************************************/


/********************************************** CONTACT SECTION ******************************************/
/*******************************************************************************************************/
.contact{
    background-image: url("../images/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding-top: 170px;
    color: white;
    text-transform: uppercase;  

}

form{
    display: flex;
    justify-content: center;
}
.form-control::placeholder { 
    color: white;
}
.input{
    width:350px;
    height:30px;
    margin-bottom: 20px;
    border: solid #FEFEFC 1px;
    color: #FEFEFC;
    background: none !important; 
}

textarea{
    width: 600px;
    border: solid #FEFEFC 1px;
    background: none !important;
    margin-bottom: 20px;
    color: #FEFEFC;
}
textarea::placeholder{
    color: #FEFEFC;
}



/********************************************** SOCIAL ICON SECTION ******************************************/
/*******************************************************************************************************/



/********************************************** FOOTER SECTION ******************************************/
/*******************************************************************************************************/